*{
    box-sizing:border-box;
    font-family:"Montserrat , sans serif ";
    padding:0.3rem;
    font-size:20px;
}
*p{
    font-size:15px;
}

header{
    background-color:#7B7B7B;
    

}

body{
    background-color: #F1DBA9;
}

h1{
    color:#0D78DC;
    text-align:center;
    font-family:"agbalumo";
    font-size:40px;
}

h2{
    color:#DC970D;
    font-size:25px; 
}

label{
    font-size:20px; 
}

nav{
    display:flex;
    justify-content: space-evenly;
}

form{
    display:flex;
    text-align: center;
    align-items: center;
}
.show{
    
}

button{
    background-color: #0D78DC;
    border-radius:5px;
}
button a {
    color:#ffff;
    font-size:20px;
}
.show a{
    color:#0D78DC;
    width:100px;
}
.pos-input{
    text-align: center;
    align-items:center;
}

input[type=search]{
    width:200px;
    height:45px;
    border-radius: 25px;
}
.art1{
    text-align: center;
    align-items: center;
    flex:2 2 500px;
}
ul a {
    color:#0A0508;
    font-size:30px;
}
li{
    text-decoration:none;
}

.tri_img{
    display:flex;
    justify-content: space-evenly;
    gap:10px;
    
}

img{
    object-fit:cover;
    width:200px;
    height:145px;
}

#sec2{
    display:flex;
    justify-content: space-evenly;
    gap:10px;
}

#sec3{
    display:flex;
    justify-content:space-evenly;
    gap:10px;
}

footer{
    background-color:#7B7B7B;
}

/* Responsivité */

@media screen and (min-width: 768px) and (max-width: 1388px){

 
html

{
    width :100% ;
    padding :0px ;
}

nav{
    width :100% ;           
}

 

body,header,main,footer,aside{
width :80% ;
}

.tri_img{
    display:flex;
    flex-wrap:wrap;
}
#sec3{
    display:flex;
    flex-wrap:wrap;
}

}

@media screen and (min-width: 768px) and (max-width: 1388px){

html{
    width :100% ;
    padding :0px ;
}
nav{
    width :100% ;           
}
    
body,header,main,footer,aside{
    width :80% ;
}
    
.tri_img{
     display:flex;
    flex-wrap:wrap;
}

#sec2{
    display:flex;
    flex-wrap:wrap;
}
#sec3{
        display:flex;
        flex-wrap:wrap;
}
    
}

@media screen and (max-width: 768px){

html{
    width :100% ;
    padding :0px ;
}
nav{
    width :100% ;           
}
nav ul{
    display:flex;
    flex-wrap:wrap;

}

nav ul a {
    display:flex;
    flex-wrap:wrap;

}
        
body,header,main,footer,aside{
    width :100% ;
}
        
.tri_img{
    display:flex;
    flex-direction:column;
}

#sec2{
    display:flex;
    flex-wrap:wrap;
}
#sec3{
    display:flex;
    flex-direction:column;
}
        
}